    *{
        margin: 0px;
        padding: 0%;
    }
    header{
        background-color: rgb(174, 168, 168);
        position: fixed;
        height:100px;
        width: 100%;
        display: flex;
        z-index: 3;

    }
    .logo{
        height:70%;
        margin:auto;
        width:10%;
    }
    .tag{
        height:70%;
        margin:auto;
        width:70%;
    }
    .button{
        height:30%;
        margin:auto;
        width:10%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .profile{
        height:70%;
        margin:auto;
        width:10%;
    }
    .line{
        height:5px;
        width: 15px;
        background-color: rgba(0, 0, 0, 0.582);
        border-radius: 30%;
        margin:auto
    }

    main{
        z-index: 1;
        height:700px;
        width:100%;
        background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230321/pngtree-floral-background-stroke-style-image_2040102.jpg) linear-gradient(to bottom,black,black,white) ;
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: row;
        background-repeat: no-repeat;
        background-size: cover;
        flex-wrap: wrap;

    }
    @media screen and (max-width: 500px) {
        main{
            display: flex;
            flex-direction: column;
        }
        .block1{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
        }
        .block2{
            width:100%;
        }
        .block3{
            width:100%;
        }
    }

    .block1{
        background-color: transparent;
        display: flex;
        height: 500px;
        width:10%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .block2{
        display:flex;
        height:500px;
        width:60%;
    }
    .block3{
        display:flex;
        height:500px;
        width:30%;
    }
    .card{
        margin: auto;
        background-color: rgba(0, 0, 0, 0.149);
        height:70%;
        width:70%;
        border-radius: 10%;
    }
    .block{
        height:500px;
        width:100%;
    }
    .icon,.logo,.profile{
        background-color: rgba(0, 0, 0, 0.39);
        height:50px;
        width:50px;
        border-radius: 50%;
        margin: auto;
    
    }